footer{
	background-color: white;
        height: 60px;
	width: 100%;
	position:fixed;	
	bottom:0;
	border-top: 1px #CCCCCC

}
p{
	position:absolute;
        top:50%;
	left:50%; 
	transform:translate(-50%,-50%);
}
